<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>akash_dth.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5C8BAE0AFDBC3FDE150ED4ADA2D70CCB948FC0A5</string>
				<key>dateExpires</key>
				<string>11/10/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C8BAE0AFDBC3FDE150ED4ADA2D70CCB948FC0A5</string>
						<key>dateExpires</key>
						<string>11/10/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2GR93AU574</string>
						<key>name</key>
						<string>Beximco Communications Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C8BAE0AFDBC3FDE150ED4ADA2D70CCB948FC0A5</string>
						<key>dateExpires</key>
						<string>11/10/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2GR93AU574</string>
						<key>name</key>
						<string>Beximco Communications Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C8BAE0AFDBC3FDE150ED4ADA2D70CCB948FC0A5</string>
						<key>dateExpires</key>
						<string>11/10/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2GR93AU574</string>
						<key>name</key>
						<string>Beximco Communications Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C8BAE0AFDBC3FDE150ED4ADA2D70CCB948FC0A5</string>
						<key>dateExpires</key>
						<string>11/10/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2GR93AU574</string>
						<key>name</key>
						<string>Beximco Communications Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C8BAE0AFDBC3FDE150ED4ADA2D70CCB948FC0A5</string>
						<key>dateExpires</key>
						<string>11/10/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2GR93AU574</string>
						<key>name</key>
						<string>Beximco Communications Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C8BAE0AFDBC3FDE150ED4ADA2D70CCB948FC0A5</string>
						<key>dateExpires</key>
						<string>11/10/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2GR93AU574</string>
						<key>name</key>
						<string>Beximco Communications Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2GR93AU574.com.redtech.akashdth</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2GR93AU574</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>50ac367d-2a03-4b34-ab17-244b0b5249ed</string>
				<key>dateExpires</key>
				<string>11/10/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.redtech.akashdth</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2GR93AU574</string>
				<key>name</key>
				<string>Beximco Communications Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
